body{
    background-image: url(../img/index_background.png);
    background-size: auto;
}
#play_button{
    position: absolute; 
    top: 293px; 
    left: 269px;
    width: 137px;
    height: 137px;
    background-image: url(../img/play_button.png);    
}
#play_button:hover
{
    background-image: url(../img/play_button_hover.png);
}
.play_button_div
{
    position: relative; 
    left: 0; 
    top: 0;
}
.knit_site
{
    position: absolute;
    width: 122px;
    height: 118px;
    top: 123px;
    left: 150px;
    transform: rotate(-10.9deg);
}
.knit_site:hover
{
    background: url(../img/knit_site.png);
}
.sw_mansion_site
{
    position: absolute;
    width: 94px;
    height: 95px;
    top: 231px;
    left: 420px;
    transform: rotate(-13deg);
}

.sw_mansion_site:hover{
    background: url(../img/sw_mansion_site.png);
}
